
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '../../variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../../header/index';
@import '../../sidebar/index';

body {
	padding: 0;
	margin: 0;
}

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
main {
	width: 100%;
	position: relative;

	.sidebar-wrapper {
		width: 20%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #43425d;
	}

	.content-wrapper {
		width: 80%;
		min-height: 100vh;
		position: absolute;
		top: 64px;
		right: 0;
		background-color: #F0F0F7;
	}
}
