.main-wrapper {
  width: 80%;
  margin: auto;
  padding: 40px;

  .complete-container {
    p {
      color: #09c221;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .error-container {
    p {
      color: #e3342f;
      font-weight: bold;
      font-size: 16px;
    }
  }
  
  .title-container {
    margin-bottom: 40px;

    h3 {
      font-weight: bold;
      color: #43425d;
    }
  }

  .menu-container {
    margin-bottom: 64px;

    ul {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;

      li {
        width: 25%;
        margin: auto;
        text-align: center;

        a {
          width: 100%;
          font-size: 12px;
          display: block;
          color: #aaa;
          padding-bottom: 4px;
          border-bottom: 1px solid #aaa;
          text-decoration: none;
        }

        a:hover {
          color: rgba(67, 66, 93, 0.7);
          font-weight: bold;
          border-bottom: 3px solid rgba(67, 66, 93, 0.7);
        }

        .isActive {
          color: #43425d!important;
          font-weight: bold!important;
          border-bottom: 3px solid #43425d!important;
        } 
      }
    }
  }

  .notification-container {
    width: 100%;
    background-color: #fff;
    padding: 48px;
    margin-bottom: 48px;

    .title-container {
      margin-bottom: 24px;

      h4 {
        font-size: 16px;
        color: #43425d;
        font-weight: bold;
      }
    }

    .radio-container {
      margin-bottom: 24px;

      .text {
        font-size: 16px;
        color: #43425d;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .sub-text {
        font-size: 12px;
        color: #43425d;
      }

      input {
        display: none;
      }

      input + label {
        padding-left: 25px;
        position:relative;
        margin-right: 20px;
      }

      input + label::before{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        border-radius: 50%;
      }
      
      input:checked + label::after{
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #09c221;
        border-radius: 50%;
      }

      .left-btn {
        margin-right: 12px;
      }
    }
  }

  .btn-container {
    width: 100%;
    text-align: center;

    button {
      background-color: #43425d;
      font-weight: bold;
      color: #fff;
      padding: 8px 40px;
      font-size: 16px;
      border-radius: 48px;
      outline: none;
    }

    button:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}
